<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="item">{{item.Title}}</ion-title>
    <ion-buttons end>
      <button ion-button incon-only style="font-size: 1.7em" (click)=toggleFavorite()>
        <ion-icon [name]="isFavorite ? 'star':'star-outline'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="item">
    <img [src]="item.PosterHD" />
    <ion-badge *ngIf="item.totalSeasons" color="dark">{{item.totalSeasons}} seasons</ion-badge>
    <ion-card-header>
      <h2>Synopsis
        <ion-badge color="primary">{{item.imdbRating}}</ion-badge>
      </h2>
    </ion-card-header>
    <ion-card-content>{{item.Plot}}</ion-card-content>
    <ion-list *ngIf="item.Seasons">
      <button *ngFor="let season of item.Seasons" ion-item (click)="getSeasonEpisodes(season.Episodes)">
        Season {{season.Season}}
      </button>
    </ion-list>
  </ion-card>
</ion-content>