<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="movie">{{movie.Title}}</ion-title>
    <ion-buttons end>
      <button ion-button incon-only style="font-size: 1.7em" (click)=toggleFavorite()>
        <ion-icon [name]="isFavorite ? 'star':'star-outline'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="movie">
    <img [src]="movie.Poster" />
    <ion-card-header>
      <h2>Synopsis
        <ion-badge color="primary">{{movie.imdbRating}}</ion-badge>
      </h2>
    </ion-card-header>
    <ion-card-content>{{movie.Plot}}</ion-card-content>
  </ion-card>
</ion-content>