<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="item">{{item.Title}}</ion-title>
    <ion-buttons end>
      <button ion-button incon-only style="font-size: 1.7em" (click)=toggleFavorite()>
        <ion-icon [name]="isFavorite ? 'star':'star-outline'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="item">
    <img *ngIf="item.PosterHD" [src]="item.PosterHD" />
    <div class="details-button" *ngIf="item.PosterHD">
    </div>
    <ion-card-header>
      <h2>{{item.Title}}</h2>
    </ion-card-header>
    <ion-card-content *ngIf="item.Type == 'movie'">Runtime : {{item.Runtime}}
    <br>Type : {{item.Type}}
    <br>Director : {{item.Director}}
    <br>First released : {{item.Year}}
    <br>Actors : {{item.Actors}}
    <br>Awards or nominations : {{item.Awards}}
    <br><ion-badge color="primary">Rated : {{item.imdbRating}}</ion-badge>
      <ion-badge color="primary">{{item.imdbVotes}} votes</ion-badge>
    </ion-card-content>

    <ion-card-content>Synopsis
      <br>{{item.LongPlot}}</ion-card-content>
    <ion-card-content>Rated : {{item.Rated}}</ion-card-content>
    <ion-card-content>Visit <a href="{{item.Website}}">the website</a></ion-card-content>
    <ion-badge *ngIf="item.totalSeasons" color="dark">{{item.totalSeasons}} seasons</ion-badge>
    <ion-list *ngIf="item.Seasons">
      <button *ngFor="let season of item.Seasons" ion-item (click)="getSeasonEpisodes(season.Episodes)">
        Season {{season.Season}}
      </button>
    </ion-list>
  </ion-card>
  <button ion-button round outline (click)="downloadImage(item.PosterHD)">
      <ion-icon name="cloud-download"></ion-icon>&nbsp;&nbsp;
      Download poster
  </button>
</ion-content>